# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from

# The top level domain to serve from
N8N_BASE_URL= <Your domain to use for n8n, e.g., n8n.example.com>
# Set this to something like n8n.mydomain.com so that N8N's internal workings know the URL the requests are coming from
# Make sure that the NGROK or Cloudflare Tunnel is configured to point to this domain, and that the domain's DNS records are set up correctly to route traffic to your server. 
# If you're using a local domain for testing, you can set this to something like n8n.local and configure your hosts file accordingly.

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=<YOur timezone, e.g., Asia/Kolkata>

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=<Your email address for SSL certificate registration>

# N8N Data location
N8N_BASE_DIRECOTORY= <Bas directory where all N8N data will be stored>
N8N_DATA_LOCATION=${N8N_BASE_DIRECOTORY}/n8n_data
N8N_FILES_LOCATION=${N8N_BASE_DIRECOTORY}/local-files