GARAGE_BASE_PATH= Set your base path for garage volumes>

GARAGE_META_PATH=${GARAGE_BASE_PATH}/meta
GARAGE_DATA_PATH=${GARAGE_BASE_PATH}/data
GARAGE_CONFIG_PATH= <Set the path to your garage.toml configuration file>