# Local settings
LOCAL_IP=<Local network IP address of the machine running Traefik>
PODMAN_SOCK=/run/user/1000/podman/podman.sock # This is the default path for Podman socket, adjust if your setup is different

# Traefik settings
TRAEFIK_VERSION=3.6
TRAEFIK_YAML_PATH=<PathToTraefikYaml>
ACME_EMAIL=<YourEmail>
ACME_JSON_PATH=<PathToAcmeJson>
AUTH_HASHED_USER=<Hashed authentication for Traefik dashboard, you can generate this using `htpasswd -nbB <username> <password>`>

# Cloudflare settings
CLOUDFLARE_TUNNEL_TOKEN=<CloudflareTunnelToken> # Fetch this from cloudflare when you create a tunnel on CLoudflare dashboard
CLOUDFLARED_PATH=<PathToCloudflared>

# NGROK settings
NGROK_URL=<NGROK free/paid domain URL>